.attribution {
  font-size: 11px;
  text-align: center;
  margin: 5px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  background: hsl(185, 75%, 39%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right 55vw top -65vh, left 50vw bottom -75vh;
}

.card {
  width: 350px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.card-header {
  background-image: url('../images/bg-pattern-card.svg');
  background-size: cover;
  height: 140px;
}

.image-holder {
  margin: -50px auto 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
}

.image-holder img {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 0px 20px 20px;
}

.name-age {
  font-size: 1rem;
  margin-bottom: 20px;
}

.age {
  font-weight: 400;
}

.age,
.city,
.desc {
  color: hsl(0, 0%, 59%);
}

.name-age,
.value {
  font-weight: 700;
}

.city,
.desc {
  font-size: 0.8rem;
  font-weight: 400;
}

.card-footer {
  border-top: 1px solid hsl(210, 1%, 74%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.value {
  margin-bottom: 7px;
}

.circles .circle-top,
.circles .circle-bottom {
  position: absolute;
  z-index: 0;
}

.circles .circle-top {
  top: -10rem;
  left: 0vw;
}

.circles .circle-bottom {
  right: 0px;
  bottom: 0px;
}